{% extends "core/clients/base.html" %}
{% load static %}
{% block title %}
  About
{% endblock title %}
{% block clientcontent %}
  {% comment %} {% include "clients/partials/jumbotron.html" %} {% endcomment %}
  <div class="container mx-auto">
    <section class="space-y-4 mt-[60px] ">
      <div class="flex items-start justify-start px-2">
        <div class="flex flex-col items-center h-[500px] border-gray-200 rounded-lg shadow md:flex-row md:w-full bg-gray-20 dark:border-gray-700 dark:bg-gray-800">
          <img class="object-cover rounded-t-lg h-[400px] md:h-[400px] md:rounded-none md:rounded-s-lg"
               src="{% static 'core/assets/images/about-image.png' %}"
               width="800"
               height=""
               alt="">
          <div class="flex flex-col justify-between p-4 leading-normal">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">ປະຫັວດຄວາມເປັນມາ</h5>
            <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">
              ໂຮງງານຊັກແຫ້ງ ແຫ່ງນິ້ສ້າງຕັ້ງຂຶ້ນໃນວັນທີ 16 ເດືອນ 12 ປີ 2014 ດ້ວຍການໃຫ້ການບໍລິການຊັກເສື້ອຜ້າຂອງໂຮງແຮມ ແລະ
              ເຄື່ອງທົ່ວໄປ ຫຼັກໆກໍເພື່ອອຳນວຍຄວາມສະດວກສະບາຍ ແລະ ວອງໄວ້ທັນໃຈໃຫ້ແກ່ລູກຄ້າ.
              ໂຮງງານຊັກແຫ້ງ ຕັ້ງຢູ່ບ້ານ ດອນໃໝ່ ເມືອງຫຼວງພະບາງ ແລະ ແຂວງ ຫຼວງພະບາງ ເຊີ່ງຕິດກັບ ມະຫາວິທະຍາໄລສຸພານນຸວົງ.
            </p>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock clientcontent %}
